html {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

nav .selected {

  background-color: #FFA500;
  margin: none;
  padding: none;

}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(http://science-all.com/images/landscape/landscape-04.jpg) no-repeat;
    background-size: cover;
}
video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

section {
  background-color: rgba(0,0,0,.33);
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(http://science-all.com/images/landscape/landscape-04.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }

  background-color: blue;
}

header img {
  margin: 10px;
  height: 5rem;
  z-index: 1;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);

.weather-card {
  margin: 0;
  display: inline-block;
}

.time {
  text-align: left;
  color: #fff;
  font-weight: 300;
  display: inline-block;
}

.card-info {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 1em;
  font-size: 10pt;
  line-height: 12pt;
  display: inline-block;
}

.card-spacing {
  width:calc((100%/7)-1rem);
  padding: 0.5rem;
  display: inline-block;
}

.weather-info {
  color: #fff;
  font-weight: 300;
  padding: .5em;
  display: inline-block;
}

.temperature {
  color: #fff;
  font-weight: 700;
  font-size: 45pt;
  line-height: 26pt;
  padding: .25em;
  display: inline-block;
}

.icon {
  display: block;
}

@media only screen and (min-width: 38em) {

  .temperature {
    font-size: 38pt;
    line-height: 26pt;
    padding: .75em .25em .75em .25em;
  }
}

header img {
  margin: 10px;
  height: 5rem;
  z-index: 1;
}

@media only screen and (min-width: 60em) {

  .temperature {
    font-size: 25pt;
    line-height: 30pt;
    padding: .75em .25em .75em .25em;
  }

  .time {
    text-align: center;
  }
}

header img {
  margin: 10px;
  height: 5rem;
  z-index: 1;
}

@media only screen and (min-width: 90em) {

  header img {
    margin: 10px;
    height: 5rem;
    z-index: 1;
  }

  .temperature {
    font-size: 40pt;
    line-height: 26pt;
    padding: .75em .25em .75em .25em;
  }

}
