html {
  font-family: 'Roboto', sans-serif;
  background-color: blue;
}

.weather-card {
  margin: 0;
  display: inline-block;
}

.time {
  text-align: left;
  color: #fff;
  font-weight: 300;
  display: inline-block;
}

.card-info {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 1em;
  font-size: 10pt;
  line-height: 12pt;
  display: inline-block;
}

.card-spacing {
  width:calc((100%/7)-1rem);
  padding: 0.5rem;
  display: inline-block;
}

.weather-info {
  color: #fff;
  font-weight: 300;
  padding: .5em;
  display: inline-block;
}

.temperature {
  color: #fff;
  font-weight: 700;
  font-size: 45pt;
  line-height: 26pt;
  padding: .25em;
  display: inline-block;
}

.icon {
  display: block;
}

@media only screen and (min-width: 38em) {

  .temperature {
    font-size: 38pt;
    line-height: 26pt;
    padding: .75em .25em .75em .25em;
  }
}

@media only screen and (min-width: 60em) {

  .temperature {
    font-size: 25pt;
    line-height: 30pt;
    padding: .75em .25em .75em .25em;
  }

  .time {
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  .temperature {
    font-size: 40pt;
    line-height: 26pt;
    padding: .75em .25em .75em .25em;
  }

}
